extends layout

block content
  h1 Sign Up
  if message
    div.message= message
  form(method="post", action="/signup")
    input(type="email", name="email", placeholder="email")
    input(type="password", name="password", placeholder="password")
    button Submit