extends layout

block content
  h1 Sign Up
  if message
    div.message= message
  form
    input(name="user", placeholder="user")
    input(type="password", name="password", placeholder="password")
    button Submit